.super-mario {
  width: 200px;
  position: absolute;
  top: 80px;
  left: 50px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 420px;
  left: 100px;
}

.baloon {
  position: absolute;
  left: 400px;
  top: 80px;
  z-index: 1;
}

.speach {
  font-size: 25px;
}

.bowser {
  width: 200px;
}

p {
  position: absolute;
  left: 420px;
  top: 120px;
  z-index: 2;
}